dt {
font-weight: bold;
}

ul.comma-separated { list-style: none; margin: 0; padding: 0; }
ul.comma-separated li { display: inline; }
ul.comma-separated li:after { content: ","; } 
ul.comma-separated li:last-child:after { content: ""; }
ul.comma-separated li:last-child:after { content: "."; }

body#resume .organization p {
  margin-top: 0;
  margin-left: 0.5em;
}
body#resume .role h4,
body#resume .role p {
  margin-left: 0.75em;
}
body#resume .role ul {
  margin-left: 2em;
}

