#header, #lcol, #footer, #printable_notice {
display: none;
}

#rcol {
margin-left: 0;
width: 100%;
background-image: none;
}

a {
	color: black;
	text-decoration: none;
}
abbr {
	text-decoration: none;
	border-bottom: 0;
}

h3 {
	background: none;
	height: auto;
}

ul {
	list-style-image: none;
	list-style-type: circle;
}
li {
	background: none;
}
p {
	text-align: left;
}

body#resume {
	width: 8in;
	font-size: 75%;
}


body#resume a:link, body#resume a:visited {
	font-weight: normal;
	text-decoration: none;
	color: black;
}

body#resume h3 a:link, body#resume h3 a:visited,
body#resume h4 a:link, body#resume h4 a:visited
{
	font-weight: bold;
}
body#resume a:link:after, body#resume a:visited:after {
	content: "";
}

p {
	margin: 0.06em;
}

body#resume h1,
body#resume h2,
body#resume h3,
body#resume h4 {
	margin: 0.125em;
}

body#resume ul,
body#resume dl {
	margin-top: 0.125em;
}
