/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */

.navbar .brand .pickles {
  color: #3A6843;
}

a {
  color: #3A6843;
}

a:hover {
  color: #3F9358;
}

.navbar-inner {
  background-color: #0E152F;
}

code {
  color: #7C5884;
}
