---
layout: default
title: home
---
{% assign first_post = site.posts.first %}
<h1>Latest post</h1>
<div class="post">
	<h2 class="title"><a href="{{ first_post.url | strip_html_suffix }}">{{ first_post.title}}</a></h2>
	<div class="metadata">
		{% if first_post.tags %}
		<div class="tags">
			Tagged with
			{% for tag in first_post.tags %}
			{{ tag }}
			{% endfor %}
		</div>
		{% endif %}

		<div class="published_at">Published on {{ first_post.date | date: '%B %d, %Y'}}</div>

		<a href="{{ first_post.url | strip_html_suffix }}#disqus_thread">View Comments</a>
	</div>
	<div class="content">
		{{ first_post.content }}
	</div>
</div>


<dl class="archive">
	<h1>Older posts</h1>
	{% for post in site.posts %}
		{% if post != first_post %}
		<dt>
		    <a href="{{ post.url | strip_html_suffix }}">{{ post.title }}</a>
		</dt>
		<dd>
		    {{ post.date | date: '%B %d, %Y' }}
		</dd>
		{% endif %}
	{% endfor %}
</ul>
