<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

	curiously.green1.0 by nodethirtythree design
	http://www.nodethirtythree.com
	hope you enjoy it :)

	-->

<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<title>{{ page.title }} at technical.pickles</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" type="text/css" href="/default.css" media="screen,projector,print" />
<link rel="stylesheet" type="text/css" href="/print.css" media="print"/>
<link rel="stylesheet" type="text/css" href="/syntax.css" media="screen,projector"/>

<body>

<div id="header">
	<div id="header_inner">
		<h1><span>technical.</span>pickles</h1>
		<div id="slogan">josh on technical stuff</div>
	</div>
</div>
<div id="main">

	<div id="lcol">
		<div id="menu">
			<ul>
				<li><a href="/">My Blog<span></span></a></li>
				<li><a href="/resume.html">Resume<span></span></a></li>
				<li><a href="/portfolio.html">Portfolio<span></span></a></li>
				<li><a href="/about.html">About Me<span></span></a></li>
				<li><a href="/contact.html">Contact Me<span></span></a></li>
			</ul>
		</div>
		<div id="menu_end"></div>

		<div id="lcontent">
			<h3 class="first">on the <span>web</span></h3>
			<ul class="divided">
				<li class="first"><a href="http://twitter.com/techpickles">Follow on Twitter</a></li>
				<li><a href="http://github.com/technicalpickles">Follow on GitHub</a></li>
				<li><a href="http://workingwithrails.com/person/10749-josh-nichols">Recommend on Working With Rails</a></li>
			</ul>

			<h3>Josh's.<span>Projects</span></h3>
			<p><a href="#">Jeweler</a> is the GitHub recommended way to generating and maintaining RubyGem projects.</p>	
			<div class="divider"></div>

			<p><a href="#">Daywalker</a> is a Ruby library for accessing data about congressional districts and legislators using the <a href="#">Sunlight API</a>.</p>
		</div>

	</div>

	<div id="rcol">
		<div id="rcontent">
			{{ content }}
		</div>
	</div>

</div>

<div id="footer">
	&copy; 2009 Josh Nichols. All rights reserved. Design by <a href="http://www.nodethirtythree.com/">NodeThirtyThree</a>.
</div>

</body>
</html>
<!-- vim: ts=2 sw=2
-->
