<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

	curiously.green1.0 by nodethirtythree design
	http://www.nodethirtythree.com
	hope you enjoy it :)

	-->

<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<title>{{ page.title }} at technical.pickles</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" type="text/css" href="/stylesheets/all.css" media="screen,projector,print"/>
<link rel="stylesheet" type="text/css" href="/stylesheets/screen.css" media="screen,projector" />
<link rel="stylesheet" type="text/css" href="/stylesheets/syntax.css" media="screen,projector"/>
<link rel="stylesheet" type="text/css" href="/stylesheets/blueprint/print.css" media="print"/>
<link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print"/>

<link href='http://feeds.feedburner.com/TechnicalPickles' rel='alternate' title='ATOM' type='application/atom+xml' />
<link href='http://openid.claimid.com/server' rel='openid.server' />
<link href='http://openid.claimid.com/josh-nichols' rel='openid.delegate' />

</head>

<body id="{{ page.body_id }}">

<div id="header">
	<div id="header_inner">
		<h1>technical.<span>pickles</span></h1>
		<div id="slogan">josh on technical stuff</div>
	</div>
</div>
<div id="main">

	<div id="lcol">
		<div id="menu">
			<ul>
				<li><a href="/">My Blog<span></span></a></li>
				<li><a href="http://feeds2.feedburner.com/TechnicalPickles">Subscribe to My Feed<span></span></a>
				<li><a href="/resume">Resume<span></span></a></li>
				<li><a href="/portfolio">Portfolio<span></span></a></li>
				<li><a href="/about">About Me<span></span></a></li>
				<li><a href="/contact">Contact Me<span></span></a></li>
			</ul>
		</div>
		<div id="menu_end"></div>

		<div id="lcontent">
			<h3 class="first">Technical.<span>Web</span></h3>
			<ul class="divided">
				<li class="first"><a href="http://twitter.com/techpickles">Follow on Twitter</a></li>
				<li><a href="http://github.com/technicalpickles">Follow on GitHub</a></li>
				<li><a href="http://workingwithrails.com/person/10749-josh-nichols">Recommend on Working With Rails</a></li>
			</ul>

			<h3>Technical.<span>Projects</span></h3>
			<p><a href="http://github.com/technicalpickles/jeweler">Jeweler</a> is the GitHub recommended way to generating and maintaining RubyGem projects.</p>	
			<div class="divider"></div>

			<p><a href="http://github.com/technicalpickles/daywalker">Daywalker</a> is a Ruby library for accessing data about congressional districts and legislators using the <a href="#">Sunlight API</a>.</p>

			<h3>Technical.<span>Stats</span></h3>
			<p><a href="http://feeds2.feedburner.com/TechnicalPickles"><img src="http://feeds2.feedburner.com/~fc/TechnicalPickles?bg=99CCFF&amp;fg=000000&amp;anim=0" height="26" width="88" style="border:0" alt="" /></a></p>

			<script type="text/javascript" language="javascript" src="http://twittercounter.com/embed/?username=techpickles"></script>
		</div>


	</div>

	<div id="rcol">
		<div id="rcontent">
			{{ content }}
		</div>
	</div>

</div>

<div id="footer">
	&copy; 2009 Josh Nichols. All rights reserved. Design by <a href="http://www.nodethirtythree.com/">NodeThirtyThree</a>.
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-1620236-1");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
<!-- vim: ts=2 sw=2
-->
