pre code .DiffHeader {
   background-color: #656565;
   color: #FFFFFF;
}
pre code .Operator {
}
pre code .InheritedClass {
}
pre code .TypeName {
   color: #21439C;
}
pre code .Number {
   color: #A8017E;
}
pre code .EmbeddedSource {
   background-color: #ECF1FF;
}
pre code {
   background-color: #FFFFFF;
   color: #000000;
}
pre code .DiffInsertedLine {
   background-color: #98FF9A;
   color: #000000;
}
pre code .LibraryVariable {
   color: #A535AE;
}
pre code .Storage {
   color: #FF5600;
}
pre code .InterpolatedEntity {
   font-weight: bold;
   color: #66CCFF;
}
pre code .line-numbers {
   background-color: #BAD6FD;
   color: #000000;
}
pre code .LocalVariable {
   font-weight: bold;
   color: #6392FF;
}
pre code .DiffLineRange {
   background-color: #1B63FF;
   color: #FFFFFF;
}
pre code .BlockComment {
   color: #D33435;
}
pre code .TagName {
   color: #016CFF;
}
pre code .FunctionArgument {
}
pre code .BuiltInConstant {
   color: #A535AE;
}
pre code .LineComment {
   color: #D33535;
}
pre code .DiffDeletedLine {
   background-color: #FF7880;
   color: #000000;
}
pre code .NamedConstant {
   color: #B7734C;
}
pre code .CommandMethod {
   font-weight: bold;
   color: #45AE34;
}
pre code .TableField {
   color: #0BB600;
}
pre code .PlainXmlText {
   color: #000000;
}
pre code .Invalid {
   background-color: #990000;
   color: #FFFcodeFFF;
}
pre code .LibraryClassType {
   color: #A535AE;
}
pre code .TagAttribute {
   color: #963DFF;
}
pre code .Keyword {
   font-weight: bold;
   color: #006699;
}
pre code .UserDefinedConstant {
}
pre code .String {
   color: #666666;
}
pre code .DiffUnchangedLine {
   color: #5E5E5E;
}
pre code .TagContainer {
   color: #7A7A7A;
}
pre code .FunctionName {
   color: #21439C;
}
pre code .Variable {
   font-weight: bold;
   color: #0053FF;
}
pre code .DateTimeLiteral {
   font-weight: bold;
   color: #66CCFF;
}
